nav {
  background-color: #0d6efd;
  display: flex;
  height: 45px;
  align-items: center;
  color: white;
  justify-content: space-between;
  padding-inline: 8px;
}

nav .brand{
  display: flex;
  justify-content: space-between;
  width: 60px;
  color: white;
  text-decoration: none;
}

nav .nav-options {
  display: flex;
  justify-content: space-between;
  width: 110px;
}

nav .nav-options a{
  color: white;
  text-decoration: none;
}